<!DOCTYPE html>
<html>
  <head>
    <title>SuperBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">SuperBlog<span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <% if signed_in? %>
            <ul class="nav navbar-nav">
              <li><%= link_to "Crear Post", new_post_path %></li>
              <li><%= link_to "Salir", destroy_user_session_path, method: :delete %></li>
            </ul>
          <% else %>
            <ul class="nav navbar-nav">
              <li><%= link_to "Registrarse", new_user_registration_path %></li>
            </ul>
            <ul class="nav navbar-nav">
              <li><%= link_to "Ingresar", new_user_session_path %></li>
            </ul>
          <% end %>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
